<div class="form-group">
      Title:
      <input class="title-input" type="text" name="title" value="An Exemple">
      Due Date:
      <input class="date-input" type="date" name="date" value="2019-12-29">
      Status:
      <select class="status-select" id="status">
        <option value="pending">pending</option>
        <option value="done">done</option>
        <option value="cancelled">cancelled</option>
    </select>
</div>
<button type="button" class="btn btn-primary back-to-home">Retour</button>
<button type="button" class="btn btn-primary add-todo">Ajouter</button>