<table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Title    <button type="button" class="btn btn-primary sort-todo-title"> v </button></th>
          <th scope="col">DueDate  <button type="button" class="btn btn-primary sort-todo-duedate"> v </button> </th>
          <th scope="col">Status   <button type="button" class="btn btn-primary sort-todo-status"> v </button> </th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
</table> 
<button type="button" class="btn btn-danger reset-todos">BIG RED BUTTON</button>
<button type="button" class="btn btn-primary new-todo">New ToDo</button>